*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is (1rem = 10px, 10/16 = 62.5%)
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }

  @include respond(phone) {
    font-size: 37.5%; // 1rem = 6px, 6/16 = 37.5%
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px, 12/16 = 75% 
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

// Resetting the styles of Body Tag
body {
  box-sizing: border-box;
  font-size: 1.6rem;
}

// Resetting the styles of Unordered Lists
ul {
  list-style: none;
}

// Resetting the Styles of Anchor Tags
a,
a:link,
a:visited,
button,
button:focus,
button:active,
button:hover {
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: none;
}